#root {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;

}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #202b38;

}

h1 {
  font-size: 36px;
  margin-bottom: 3rem;
  max-width: 30rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 1200px;
  max-width: 80vw;
 /* padding-bottom: 200px;*/
  flex-wrap: wrap;

}

.topHeader {
  margin-top: 30px;
  display: flex;
  /* background-color: red;*/
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;

}

.previewInputImg {
  margin-top: 40px;

}

.imgPreview {
  width: 300px;
  height: fit-content;
  max-width: 80vw;
}

.processedImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px;
}

.navigationVar {

  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 25px;

  position: sticky;
  top: 0px;
  background-color: #202b38;


}

.navLink {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;

}

.button1 {
  all: unset;
  display: flex;
  cursor: pointer;
  background-color: #146fca;
  padding: 10px 25px;
  border-radius: 7px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;

}

.button1:hover {
  background-color: #194c80;
  color: rgb(233, 233, 233);
}


input[type="text"] {
  all: unset;
  background-color: #19191a;
  padding: 10px 15px;
  border-radius: 7px;
}

/*spinner*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
