#root {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #202b38;

}
h1{
  font-size: 36px;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-content:center ;
  align-items: center;
  width: 1200px;
  max-width: 1200px;
  padding-bottom: 200px;

}

.topHeader{
  margin-top: 30px;
  display: flex;
 /* background-color: red;*/
  gap: 15px;
  justify-content: center;
 
}
.previewInputImg{
  margin-top: 40px;
}
.imgPreview{
  width: 300px;
  height: fit-content;
  max-width: 80vw;
}
.processedImageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px;
} 
.navigationVar{
 
 display: flex;
 justify-content: center;
 gap: 25px;
 padding: 25px;

 position: sticky;
 top: 0px;
 background-color: #202b38;


}
.navLink{
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
  
}
.button1{
  all: unset;
  cursor: pointer;
  background-color: #121314;
  padding: 10px 15px;
  border-radius: 7px;
}
.button:hover{
  background-color: #000000;
  color: rgb(208, 209, 211);
}


input[type="text"] {
  all: unset;
  background-color: #19191a;
  padding: 10px 15px;
  border-radius: 7px;
}

